<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>DIY</li>
    <li>Chloé</li>
    <li>Dancing</li>
    <li>Movies</li>
    <li>Games</li>
  </ul>
</body>
